@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  font-family: 'Montserrat', sans-serif;
  color: #545454;
}

html,
body {
  margin: 0;
  height: 100%;
}

/* index.php styling */

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  height: auto;
}

.indexPage {
  justify-content: center;
  background: url('../../img/bg.jpg') no-repeat center;
  background-size: cover;
  width: 100%;
  height: auto;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchContainer {
  margin-top: 20px;
  width: 100%;
}
/* search form; searchBox/button */
.searchContainer form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchContainer .searchBox {
  border-radius: 22px;
  font-size: 18px;
  color: #000;
  width: 70%;
  position: relative;
  padding-inline-start: 20px;
  opacity: 0.5;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

/* change placeholder color in searchbar */

.searchContainer .searchBox::placeholder {
  color: #555;
  opacity: 1;
}

.searchContainer .searchBtn {
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
  font-size: 18px;
}

/* END index.php styling */
